


.gif-card {
    align-content: center;
    float: left;
    width: 300px;
    height: 300px;
    color: white;
    Margin: 20px;
    margin-right: 30px;
    padding: 40px;

}

body {

background-color: brown;
}

img {
    margin: 45px;
    float: left;
}